<div class="container col-md-4 offset-md-4">
    <div class="card mt-5 mb-3">
        <div class="card-header">
            <h3>Leave-Request Form</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="leave-type">leave-type:</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>select</option>
                        <option>Emergency leave</option>
                        <option>Paid leave</option>
                        <option>Maternity leave</option>
                        <option>sick leave</option>
                        <option>Vacation leave</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="leave-for">Leave-for:</label>
                    <div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline1">
                            <label class="custom-control-label" for="defaultInline1">First-Half</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline2">
                            <label class="custom-control-label" for="defaultInline2">Second-Half</label>
                        </div>
                    </div>
                </div>
                <div class="form-group cal-icon">
                    <label for="from-date">From-Date</label>
                    <!--<input type="text" id="from-date" name="fromdate" class="form-control" bsDatepicker> -->
                    <input type="text" class="form-control" bsDatepicker [bsValue]="bsValue" [bsConfig]="datePickerConfig">
                    <i class="fas fa-calendar-alt fa-lg"></i>
                </div>
                <div class="form-group cal-icon">
                    <label for="to-date">To-Date</label>
                    <!--<input type="text" id="from-date" name="fromdate" class="form-control" bsDatepicker> -->
                    <input type="text" class="form-control" bsDatepicker [bsValue]="bsValue" [bsConfig]="datePickerConfig">
                    <i class="fas fa-calendar-alt fa-lg"></i>
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-secondary btn-lg ml-4">Apply</button>
                <button type="button" class="btn btn-secondary btn-lg ml-4">Reset</button>
            </form>
        </div>
    </div>
</div>