<div class="card">
    <div class="card-header">
        <b>EmployeeName:</b> &nbsp;Giridhar MG<br>
        <b>Leave Type:</b> &nbsp;CompOff
    </div>
    <div class="card-body">
        <p class="card-text">Work for Leave Management System</p>
    </div>
    <div class="card-footer">
        <button type="button" id="approve" class="btn btn-secondary btn-lg">Approve</button>
        <button type="button" id="cancel" class="btn btn-secondary btn-lg">Cancel</button>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <b>EmployeeName:</b> &nbsp;Rahul Kumar <br>
        <b>Leave Type:</b> &nbsp;Sick Leave
    </div>
    <div class="card-body" style="padding: 2rem;">
        <p class="card-text"> suffering from Food Poisoning</p>
    </div>
    <div class="card-footer">
        <button type="button" id="approve" class="btn btn-secondary btn-lg">Approve</button>
        <button type="button" id="cancel" class="btn btn-secondary btn-lg ">Cancel</button>
    </div>
</div>
<div class="card" style="width:280px;height:238px;">
    <div class="card-header">
        <b>EmployeeName:</b> &nbsp;Anusha<br>
        <b>Leave Type:</b> &nbsp;Maternity Leave
    </div>
    <div class="card-body">
        <p class="card-text">Applying a leave due to Maternity</p>
    </div>
    <div class="card-footer">
        <button type="button" id="approve" class="btn btn-secondary btn-lg ">Approve</button>
        <button type="button" id="cancel" class="btn btn-secondary btn-lg ">Cancel</button>
    </div>
</div>
<div class="card" style="width:280px;height:238px;">
    <div class="card-header">
        <b>EmployeeName:</b> &nbsp;Abhishek<br> <b>Leave Type:</b>&nbsp; Sick Leave
    </div>
    <div class="card-body" style="padding: 2rem;">
        <p class="card-text">Suffering from Cold fever</p>
    </div>
    <div class="card-footer">
        <button type="button" id="approve" class="btn btn-secondary btn-lg ">Approve</button>
        <button type="button" id="cancel" class="btn btn-secondary btn-lg ">Cancel</button>
    </div>
</div>