<nav class="navbar navbar-expand-sm  new-bg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
        <h2 class="text-logo text-capitalize mytext"><span class="text-color ">T</span>Leave Management</h2>
    </a>
    <ul class="navbar-nav ml-auto">
        <!--   <li class="nav-item to-hover">
            <a routerLink="employee" class="nav-link">Employee</a>
            <div class="dropdown-menu employee">
                <a class="dropdown-item" routerLink="#">All-Employees</a>
                <a class="dropdown-item" routerLink="#">New Employes</a>
            </div>
        </li>-->
        <li class="nav-item">
            <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item to-hover">
            <a routerLink="leavestatus" class="nav-link">Leave-status</a>
            <!-- <div class="dropdown-menu leavestatus">
                <a class="dropdown-item" routerLink="apply-leave">ApplyLeave</a>
                <a class="dropdown-item" routerLink="#">LeaveCancellation</a>
            </div>-->
        </li>
        <li class="nav-item">
            <a routerLink="leave-request" class="nav-link">LeaveRequests</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link to-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">ProfileName
                <img src="" class="rounded-circle z-depth-0" style="height: 30px;" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">My account</a>
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </li>
    </ul>
</nav>